@charset "euc-kr";

/* reset */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased
}

html,
body {
    width: 100%;
    height: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
input,
textarea,
select {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    letter-spacing: -0.6px;
}

body {
    background-color: #fff;
    font-family: 'Pretendard', '???? ????', 'Malgun gothic', Gulim, dotum, Arial, Sans-serif;
    letter-spacing: -0.6px;
    color: #000;
    -webkit-text-size-adjust: none
}

body.type {
    background-color: #ecf0f1
}

body.mobile {
    font-size: 10px;
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed
}

hr {
    display: none
}

img,
video,
audio,
object,
embed,
iframe {
    max-width: 100%
}

img {
    height: auto;
    vertical-align: top
}

em,
i,
address {
    font-style: normal
}

a {
    text-decoration: none
}

legend,
caption {
    position: absolute;
    width: 1px;
    height: 1px;
    text-indent: -9999em;
    clip: rect(1px, 1px, 1px, 1px)
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    text-indent: -9999em
}

.scroll {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

/* a:focus, button:focus, input[type="checkbox"]:focus+label, input[type="radio"]:focus+label { outline: 2px solid #a8d1ff; } */
.clearfix:after,
.clearfix:before {
    content: "";
    display: block;
}

.clearfix:after {
    clear: both;
}

.dim {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.5;
    z-index: 9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.scrolly_hide {
    overflow-y: hidden;
}

/* ------------------------------------------ HTML5 display-role reset for older browsers ------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

dl,
ul,
ol,
menu,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

img {
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table img {
    vertical-align: middle;
}

th,
td {
    border: 0;
    word-wrap: break-word;
}

img,
fieldset {
    border: 0;
    vertical-align: top;
}

iframe {
    border: 0 none;
}

input,
select,
textarea,
button {
    vertical-align: middle;
}

input::-ms-clear {
    display: none;
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}

address,
caption,
cite,
code,
dfn,
em,
var {
    font-style: normal;
    font-weight: normal;
}

i,
em,
address {
    font-style: normal;
}

caption,
legend {
    width: 1px;
    height: 1px;
    margin: -1px 0 0 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    font-size: 0;
    color: transparent;
    line-height: 0;
}

fieldset,
legend {
    border: 0;
    background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
}

hr {
    height: 0;
    border: 0;
    background-color: transparent;
}

table caption.blind {
    position: inherit;
    margin: 0;
    padding: 0;
    font-size: 0px;
    line-height: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    color: transparent
}

/* form reset */
input,
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
}

input::-ms-clear {
    display: none;
}

select::-ms-expand {
    display: none;
}

input[type='text'],
input[type='password'],
input[type='submit'],
input[type='search'],
input[type='tel'],
input[type='email'],
input[type='button'],
input[type='reset'],
input[type='number'],
input[type='url'] {
    -webkit-appearance: none;
    border-radius: 0
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="button"]:disabled,
button:disabled {
    background-color: #e7e7e7 !important;
}

button {
    display: inline-block;
    border: 0;
    background-color: transparent;
    font-size: inherit;
    text-align: center;
    cursor: pointer;
    overflow: visible;
    -webkit-appearance: button;
}

button,
select,
input[type=radio],
input[type=checkbox],
input[type=submit],
input[type=search] {
    overflow: visible;
    font-size: 14px;
    cursor: pointer;
    border: 0px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 14px;
    color: #999;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 14px;
    color: #999;
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 14px;
    color: #999;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-size: 14px;
    color: #999;
}

input:-moz-placeholder {
    font-size: 14px;
    color: #999;
}

input[type=text],
input[type=password] {
    border: none;
}

input[type=password] {
    font-family: 'pretendard', 'Gulim', sans-serif;
}

input[type=text]:hover,
input[type=text]:focus,
input[type=password]:hover,
input[type=password]:focus {
    color: #000;
    background-color: #f3f7fe;
}

input[type=checkbox] {
    border-radius: 0 !important;
}

input[type=checkbox]:checked {
    border-radius: 0 !important;
}

input:focus,
textarea:focus {
    outline: -webkit-focus-ring-color auto 1px;
}

/* a */
a {
    color: #000;
    text-decoration: none;
}

a:hover,
a:focus,
a:link,
a:visited {
    text-decoration: none;
}

a,
button {
    cursor: pointer;
}

/* global */
.caption_hide {
    overflow: hidden;
    width: 1px;
    height: 0.1px;
    font-size: 0px;
    line-height: 0;
    text-indent: -9999px
}

.ir_pm {
    display: block;
    overflow: hidden;
    font-size: 1px;
    line-height: 0;
    color: transparent;
    text-indent: -9999px
}

.blind {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px
}

.show {
    display: block
}

.hide {
    display: none
}

.f_l {
    float: left
}

.f_r {
    float: right
}

.fw_b {
    font-weight: bold
}

.ovf_hide {
    overflow: hidden;
}